<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <title>Não é o Google Meet 2.0</title>
  <link rel="stylesheet" href="style.css" />
  <script src="index.js" charset="utf-8" defer></script>

</head>

<body style="background-color: #161d29;">
  <div class="header">
    <div class="logo">
      <div class="header__back">
        <i class="fas fa-angle-left"></i>
      </div>
      <h3>Não é o Google Meet 2.0</h2>
    </div>
  </div>
  <div class="formLogin">
    <div class="login-container">
      <label for="uname"><b>Usuário</b></label>
      <input type="text" placeholder="Insira o Usuário" name="uname" id="uname">
      <label for="psw"><b>Senha</b></label>
      <input type="password" placeholder="Insira a Senha" name="psw" id="psw">
      <button onclick="login()">Login</button>
    </div>
  </div>
</body>
<script src="script.js"></script>
<script>
  async function login() {
    const uname = document.getElementById('uname');
    const psw = document.getElementById('psw');
    if (uname.value == 'user1' && psw.value == '123'){
      window.alert("usuario 1")
    }
    else if (uname.value == 'user2' && psw.value == '123'){
      window.alert("usuario 2")
    }
    else {
      window.alert("usuário ou senha inválidos")
    }
  }
</script>
</body>

</html>